*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'cormorant';
    src: url("fonts/cormorant/Cormorant_Install_v0.2/CormorantInfant-Regular.otf");
}

@font-face {
    font-family: "manrope";
    src: url("fonts/manrope/manrope-regular.otf");
}

/* Landing page css */

body{
    background-color: #FAFAF7;
}

header{
    position: sticky;
    top:0;
    z-index: 9999;
     background-color: #F7F5EF;
    border-radius: 50px;
    padding: 1rem;
   
    
     
  
  
}

.menu-icon{
   border: none;
   background-color:#F7F5EF ;
   position: relative;
   z-index: 10001;
}
.mobile-menu{
    display: none;
     position: fixed;
    top:0;
    left: -100%;
    width: 75%;
    height: 100dvh;

    gap:1.5rem;
    padding: 6rem 2rem 2rem;
    background-color: #F7F5EF;
     transition: left 0.3s ease;
    z-index: 10000;
}
.mobile-menu a{
      text-decoration: none;
    color: #1D2420;
    font-family: "manrope";
    font-size: 1.2rem;
}
.menu-close{
    display: none;
}
.active{
    display: flex;
    flex-direction: column;
    left: 0;
    

}
.menu-icon.active .menu-open {
    display: none;
}
.menu-icon.active .menu-close {
    display: block;
}

nav ul{
    display: flex;
    list-style-type: none;
    
    justify-content: space-between;
  

}
nav ul .nav-icon{
    display: flex;
    justify-content: space-around;
    width: 8rem;
}


.landing .landing-content {
    font-family: "cormorant";
    font-size: 3.5rem;
    text-align: left;
    transform: translateY(-10%);

   
    
    
    color: #F7F5EF;
    margin-left:5%;
}
.landing {
    margin-top: 0;
    background:  linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('images/Living/pexels-slipcoverkas-27471120.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
   display: flex;
   flex-wrap: wrap;
  
   align-items: center;

   
}
.landing button{
    font-family: "manrope";
    display: block;
    margin: auto;
    padding: 1.2rem 3.2rem;
    
    border:none;
    border-radius: 50px;
    transform: translateY(-120%);
    font-size: clamp(1.3rem, 0.75rem + 0.2vw, 2.6rem);
    letter-spacing: 0.04em;
    background-color: #0d3e2cd4;
    color: #F7F5EF;
    font-weight: 600;
}
.section-title{
    font-family: "manrope";
    color:#1D2420 ;
    margin: 5%;
}
.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     width: 100%;
    aspect-ratio: 4/ 5;
    object-fit: cover;
   

 
}
.card{
    width: 42%;
    display: block;
    margin: 0, auto;
    
    border-radius: 25px;
    padding: .4rem;
    text-align: center;
    background-color:  #F5F5F0 ;
      position: relative;
      z-index: 1;
          background-color: #F5F5F0;
    border: 1px solid #E3E7E4;
    box-shadow: 0 1rem 2rem rgba(29, 36, 32, 0.12);

   

  
}
.section-title{
margin-bottom: 1.2rem;
}
.shop-category a{
    text-decoration: none;
    color: #1D2420;
    font-family: "cormorant";
    font-size: clamp(1.3rem, 0.9rem + 0.5vw, 2.0rem);
    font-weight: 600;
    padding: 1rem;
    text-align: center;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: space-evenly;
    
 
   
}
.fix{
  border: 1px solid #1F6B4F;  
    /* margin: 2rem; */
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top:-.7rem;
    /* bottom:-1rem; */
    left: -.2rem;
    z-index: 2;
   

    background-color:#1F6B4F ;
   

    box-shadow: 0 1rem 1rem rgba(18, 87, 41, 0.15);

   
}
/* .fix{
    border: 2px solid blanchedalmond;
} */

.footer{
    margin-top:20%;
    padding: 3rem;
    color: #F7F5EF ;
    font-size: 1.5rem;
   
    background-color:#0d4a36 ;
    
}

.footer a {
    font-size: 1.1rem;
    text-decoration: none;
    color:#F7F5EF;
    font-style: italic;
    margin-left: 1.8rem;
}

.footer h3{
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.4rem;
    font-weight: 600;
    font-style: oblique;
    text-transform:capitalize;
}
.footer h2{
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
    font-style:oblique;
    
}

.footer q{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 1.1rem;
    font-style: italic;
}

.connect{
    margin-top: 5%;
    text-align: center;
    font-size: 1rem;
}

.foot-icons{

    /* gap: 5rem; */
    
    margin-top: 10%;
    height: 3rem;
    width: 3rem;
    fill: #F7F5EF;
    /* margin: 3%;
     */
}
.social-icons{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10%;


}
.end{
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    word-spacing: 0.2rem;
    text-decoration:wavy;
    color:#F7F5EF ;
    background-color: #1D2420;
    font-family: "manrope";
    font-style: italic;
   
}

/* end of landing */

/* login page */

.login{
    /* background: #cdcd38; */
    height: 100dvh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family:"manrope" ;
    background: linear-gradient(
    135deg,
    #7bad9c 0%,
    #19211e 50%,
    #166348 100%
);


  
    
}
.login form{
 
padding: 3.5rem 3rem;
display: flex;
flex-direction: column;
gap: 1.5rem;
border-radius: 30px;

background: #f9f9f9;
color: #1D2420;
box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 30px 70px rgba(0, 0, 0, 0.16);


    
}
.login label, .login input,  .login button{
    color: #1D2420;
}
input{
    padding: 0.3rem ;
}
.login .button{
    padding: 1rem;
    border-radius: 50px;
    border: none;
    font-family: "manrope";
    background-color: #1F6B4F;
    color: #F7F5EF;
    font-weight: 600;
    font-size: 0.98rem;
}

.login h4, .login h2, .login h3{
    text-align: center;
    font-family: "cormorant";

}
.login h2{
    font-size: 1.5rem;
     font-family: "manrope";
     
    background: linear-gradient(
        90deg,
        #19382d,
        #0bba7a
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;


}
.login h3{
    font-size:1.5rem ;
     background: linear-gradient(
        90deg,
        #19382d,
        #0bba7a
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

}

.login h5{
    color: #51a16b;
    font-size: 1rem;
}
.login a{
    color:#6B746E;
    text-decoration: none;
}


.input-group {
    position: relative;
} 

 .input-group input {
    width: 100%;
    padding: 1.2rem 9rem;
    border: 1px solid #E3E7E4;
    border-radius: 20px;
    background: #FFFFFF;
    color: #1D2420;
    outline: none;
}

.input-group label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6B746E;
    background: #FFFFFF;
    padding: 0 0.3rem;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #1F6B4F;
}


/* signup form */


.signup form{
    gap: 1.2rem;
    padding: 1rem 1.8rem;
    
}


/* forgot page */

.forgot-page{
    font-family: "manrope";
}

/* reset_email */

#reset-email{
    padding: 1rem;
    border-radius: 50px;
    border: none;
    font-family: "manrope";
    background-color: #1F6B4F;
    color: #F7F5EF;
    font-weight: 600;
    font-size: 0.98rem;
    text-align: center;
    margin-top:3.7rem;
    margin-bottom: 2.5rem;

}
.res{
    text-align: center; 
    padding: rem;
    color: #126e4c;
}