<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="login">
        <section>
           <form action="">
    <h2>Syzygium Furniture</h2>
    <h3>Welcome back</h3>
    <h5>Sign in to your account</h5>

    <div class="input-group">
        <input
            type="text"
            id="username"
            required
            placeholder=" "
        >
        <label for="username">Username</label>
    </div>

    <div class="input-group">
        <input
            type="password"
            id="password"
            required
            placeholder=" "
        >
        <label for="password">Password</label>
    </div>

    <a href="forgot.html">Forgot password?</a>

    <input type="submit" value="Sign in" class="button">

    <a href="signup.html">Don't have an account? Register</a>
</form>
        </section>
    </main>

    
</body>
</html>