{% extends 'index.html' %}

{% block content %}
<main class="login">
        <section>
           <form action="" method="POST">

            {% csrf_token %}
    <h2>Syzygium Furniture</h2>
   
    <h5>Reset Your Password</h5>

    
    {%if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
    {% endif %}


    <div class="input-group">
        <input
            type="password"
            id="password1"
            required
            placeholder=" "
            name="password1"
        >
        <label for="password1">Password</label>
    </div>

    <div class="input-group">
        <input
            type="password"
            id="password2"
            required
            placeholder=" "
            name="password2"
        >
        <label for="password2">Confirm Password</label>
    </div>

   
    <input type="submit" value="Submit" class="button">

    <a href="{% url 'login' %}">Remember your password? Sign in</a>

{% endblock %}

