
{% extends 'index.html' %}

{% block content %}
<main class="login">
    <section>
        <form action="" method="POST">

            {% csrf_token %}

            <h2>Syzygium Furniture</h2>

            <h5>Reset Your Password</h5>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div class="input-group">
                {{ form.new_password1 }}
                <label for="id_new_password1">Password</label>
            </div>

            <div class="input-group">
                {{ form.new_password2 }}
                <label for="id_new_password2">Confirm Password</label>
            </div>

            <input type="submit" value="Submit" class="button">

            <a href="{% url 'login' %}">Remember your password? Sign in</a>

        </form>
    </section>
</main>
{% endblock %}

