{% extends 'index.html' %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% block content %}

    <main class="login signup">
        <section>
           <form action="" method="post" >

            {% csrf_token %}
    <h2>Syzygium Furniture</h2>
    <h3>Create your account</h3>
    <h5>Curate spaces that feel distinctly yours.</h5>

    {%if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
    {% endif %}

    <div class="input-group">
        <input
            type="text"
            id="username"
            required
            placeholder=" "
            name="username"
        >
        <label for="username">Username</label>
    </div>
     <div class="input-group">
        <input
            type="email"
            id="email"
            required
            placeholder=" "
            name="email"
        >
        <label for="email">Email</label>
    </div>

    <div class="input-group">
        <input
            type="password"
            id="password1"
            required
            placeholder=" "
            name="password1"
        >
        <label for="password1">Password</label>
    </div>
    <div class="input-group">
        <input
            type="password"
            id="password2"
            required
            placeholder=" "
            name="password2"
        >
        <label for="password2">Confirm Password</label>
    </div>
    
   

   

    <input type="submit" value="Create account" class="button">

    <a href= "{% url 'login'  %}" >Already have an account? Sign in</a>
</form>
        </section>
    </main>

    

    {% endblock %}
</body>
</html>