<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <main class=" login forgot-page">
    <section class="forgot-card">

        <form action="" class="forgot-form">

    <h2>Syzygium Furniture</h2>

    <h3>Forgot your password?</h3>

    <p>
        No worries. Enter the email address associated
        with your account and we'll send you a link
        to reset your password.
    </p>

    <div class="input-group">
        <input
            type="email"
            id="email"
            name="email"
            placeholder=" "
            required
        >
        <label for="email">Email</label>
    </div>

    <button type="submit" class="button">
        Send reset link
    </button>

    <a href="login.html">Back to Sign in</a>

</form>

    </section>
</main>