<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="login">
        <section>
           <form action="">
    <h2>Syzygium Furniture</h2>
 
    <h5>Hello,Karachu</h5>

   <p>we received a request to reset your password.</p>
   <p>click the button below.</p>

    <a  id="reset-email" href="forgot.html">Reset Password</a>
    <p>This reset links expires in 2 minutes.</p>
    <p>If you didnt request this password reset,simply ignore this email.</p>
    <p>Thankyou,</p>
<p>Syzygium Furniture.</p>

<footer class="res">
        <p>&copy 2026 syzygium Furniture</p>
    </footer>
    
</form>
        </section>
    </main>

    
</body>
</html>